<div id="pageHeader">
  <div class="flex justify-between pb1 mb1 border-bottom">
    <div class="flex flex-column" *ngIf="client">
      <span>{{client.firstName}} {{client.lastName}}</span>
      <span>{{client.address}}</span>
      <span>{{client.city}} {{client.state}}, {{client.zip}}</span>
    </div>
    <div class="center">Inspection Report</div>
    <div>{{completionDate | date:'longDate'}}</div>
  </div>
</div>

<div class="flex flex-column">
  <div class="flex justify-center mb4 pt2">
    <img src="https://firebasestorage.googleapis.com/v0/b/inspection-reports-555f2.appspot.com/o/assets%2Finspection_report_logo.png?alt=media&token=f50cf1dc-a8b2-4399-a619-5e9b363b8094" class="logo">
  </div>
  <div class="flex flex-column mb4 mt4">
    <span class="bold" style="font-size:10px;">Attention:</span>
    <span style="font-size:10px;"> This inspection report is a result of a visual inspection done at the time of the cleaning. It is intended as a convenience
      to our clients, not as a certification (unless noted), of fire worthiness or safety. Since conditions of use and hidden
      construction defects are beyond our control, we make no warranty of the safety or function of any appliance and none
      is to be implied.
    </span>
    <div *ngIf="isCertification" class="mt2" style="font-size:10px;">
      <span class="bold" style="font-size:10px;">Note:</span> This is to be used for your certification.</div>
  </div>

  <div class="m4 pb1 border-bottom" *ngIf="signature | isImage;else notImage">
    <div class="mb1 bold">Customer Signature:</div>
    <img [src]="signature" style="width:100%" />
  </div>
  <ng-template #notImage>
    <div class="m4 pb1 border-bottom">
      <div class="mb1 bold">Customer Signature:</div>
      <span>No Signature ({{signature | noSignatureMapper}})</span>
    </div>
  </ng-template>

 
</div>

<div style="page-break-after:always;"></div>

<!-- page 2 -->
<div class="flex justify-center break flex-wrap">
  <div class="flex flex-column p1" *ngFor="let pic of requiredPics">
    <img [src]="pic.downloadLink" class="image"/>
    <div class="bold center picName py1 image-description">{{pic.name}}</div>
  </div>

</div>

<!-- page 3 -->
<div class="flex justify-center pb3 break">
  <img style="width:75%" src="https://firebasestorage.googleapis.com/v0/b/inspection-reports-555f2.appspot.com/o/assets%2Ffireplace-stove-diagram.jpg?alt=media&token=de3fcfe1-15a8-4799-a6c4-9a798fb04feb" />
</div>

<!-- page 4 Report Details -->
  <!-- table -->
    <!--  -->
    <ng-template ngFor let-inspectItems [ngForOf]="inspectItemsInReport" let-i="index" let-isFirstIndex="first">

      <!-- header name -->
      <div class="flex header bold border" [class.break-before]="(inspectItems.applianceType === 6) || i % 3 === 0" [ngClass]="{'ml3': inspectItems.applianceType === 0, ml4: inspectItems.applianceType !== 0 && inspectItems.applianceType !== 6, mt2:!isFirstIndex}">
        <span class="bold  pb1 pl1 pt1">{{inspectItems.name}}</span>
      </div>

      <!--  -->
      <div class="border flex row" *ngFor="let keys of inspectItems | createList" [ngClass]="{ml3: inspectItems.applianceType === 0, ml4: inspectItems.applianceType !== 0 && inspectItems.applianceType !== 6}">
        <div class="flex flex-auto justify-between pr1" *ngFor="let key of keys; first as isFirst; last as isLast" [ngClass]="{'bl': isLast, 'pl': isFirst, 'border-left pl1':!isFirst && !isLast, 'col-6': inspectItems.applianceType === 0, 'col-3': inspectItems.applianceType !== 0}">
          <ng-container *ngIf="key !== 'n/a'">
            <ng-container *ngIf="doesObjectHaveItems(key) ;else default">
              <div class="flex flex-auto flex-column">
                <div class="flex justify-between" *ngFor="let objectKey of inspectItems[key] | sliceObject:key; first as isFirstObject;">

                  <ng-container *ngIf="isFirstObject;else objectItems">
                    <span class="bold mr1 pb1 pt1">{{key | rowHeaderName}}:</span>
                    <span class="pb1 pt1" wellsDisplayQuotes>{{ inspectItems[key] | statusName }}</span>
                  </ng-container>
                  <ng-template #objectItems>
                    <span class="bold mr1 pb1 pt1">{{objectKey | rowHeaderName: inspectItems.applianceType === 6}}:</span>
                    <span class="pb1 pt1" wellsDisplayQuotes>{{ inspectItems[key][objectKey]}}</span>
                  </ng-template>

                </div>
              </div>
            </ng-container>

          </ng-container>


          <ng-template #default>

            <!-- flue inside and outside values -->
            <ng-container *ngIf="hasFraction(key);else defaultRecordView">
              <span class="bold mr1 pb1 pt1">{{key | rowHeaderName}}:</span>
              <span class="pb1 pt1">
                <span>{{inspectItems.flueSizeNAReason || inspectItems[key]}}</span>
                <span [innerHTML]="inspectItems | getFraction:key"></span>
              </span>
            </ng-container>

            <ng-template #defaultRecordView>
              <span class="bold mr1 pb1 pt1">{{key | rowHeaderName}}:</span>
              <span class="pb1 pt1">{{inspectItems[key] | statusName}}</span>
            </ng-template>
          </ng-template>

        </div>
      </div>
    </ng-template>

<!-- page 5 Comments and Recommendations-->
<ng-container *ngFor="let inspectItems of commentsAndRecommendations">
  <div class="flex justify-center p2 break-before">

    <div class="flex flex-auto flex-column">

      <!-- header -->
      <div class="flex header bold border">
        <span class="bold flex-auto  pb1 pl1 pt1">{{inspectItems.name}}</span>
        <span class="bold  mr1 pb1 pl1 pt1">Comments and Recommendations</span>
      </div>

      <!-- body -->
      <div class="border flex-column flex flex-auto row">
        <div class="flex flex-column flex-auto" *ngFor="let key of inspectItems | commentsList | async; first as isFirst; last as isLast">
          <div class="flex flex-auto">
            <!-- comments -->
            <div class="flex flex-column flex-auto col-6 border-right" [ngClass]="{'border-bottom': !isLast}">
              <span class="bold pb1 pt1 pl1 border-bottom">{{key | rowHeaderName}} Comments:</span>
              <div class="flex flex-column">
                <ng-template ngFor let-comment [ngForOf]="inspectItems[key].comments  | removeTriggerComment:key" let-isLast="last">
                  <div class="flex pb1 pt1 pl1" [ngClass]="{'border-bottom': !isLast}">
                    {{ comment | getComment:key:'comments'}}
                  </div>
                </ng-template>
                <div class="flex pb1 pt1 pl1 border-top" *ngFor="let additionalComment of inspectItems[key].additionalComments; last as isLast"
                  [ngClass]="{'border-bottom': !isLast}">
                  {{ additionalComment}}
                </div>
              </div>
            </div>
            <!-- recommendations -->
            <div class="flex flex-column flex-auto col-6">
              <span class="bold pb1 pt1 border-bottom pl1">{{key | rowHeaderName}} Recommendations:</span>
              <div class="flex flex-column">
                <div class="flex pb1 pt1 pl1" *ngFor="let recommendation of inspectItems[key].recommendations; last as isLastRec" [ngClass]="{'border-bottom': !isLastRec}">
                  {{ recommendation | getComment:key:'recommendations'}}
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="flex flex-column flex-auto" *ngFor="let key of inspectItems | commentsList | async; first as isFirst; last as isLast">
          <!-- pictures -->
          <div class="flex flex-auto" *ngIf="inspectItems[key].pictures">
            <div class="flex flex-column flex-auto col-6">
              <span class="bold pb1 pt1 border-top pl1">{{key | rowHeaderName}} Pictures:</span>
              <div class="flex flex-wrap">
                <div class="flex p1 flex-column"  *ngFor="let pic of inspectItems[key].pictures; last as isLastRec" [ngClass]="{'border-bottom': !isLastRec}">
                  <img src="{{pic.downloadLink}}" class="image"  />
                  <span class="bold center picName py1 image-description">{{pic.name}}</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>

  </div>
</ng-container>

<!-- danger report -->
<div style="page-break-after:always;"></div>

<div class="flex flex-column justify-center p2" *ngIf="!!dangerReportComments.length">

  <div class="flex justify-center">
    <div class="flex flex-column center bold">
      <span style="font-size:10px;">Required action before use.</span>
      <span style="font-size:10px;">The current conditions are dangerous.</span>
    </div>
  </div>

  <div class="mt2" style="font-size:10px;">
    We feel it to be our responsibility to advise you that the existing venting system for the indicated appliance is an unsafe
    condition for the reason(s) indicated and we strongly recommend that the condition(s) be corrected prior to using the
    indicated appliance & venting system.
  </div>

  <ng-template ngFor let-inspectItems [ngForOf]="dangerReportComments">
    <!-- header name -->
    <div class="flex header bold border mt2 break">
      <span class="bold  pb1 pl1 pt1">{{inspectItems.name}}</span>
    </div>

    <!-- body -->
    <div class="border flex-column flex flex-auto row">
      <div class="flex flex-column flex-auto" *ngFor="let key of inspectItems | commentsList:true | async; first as isFirst; last as isLast">
        <div class="flex flex-auto">
          <!-- comments -->
          <div class="flex flex-column flex-auto col-6 border-right" [ngClass]="{'border-bottom': !isLast}">
            <span class="bold pb1 pt1 pl1 border-bottom">{{key | rowHeaderName}} Comments:</span>
            <div class="flex flex-column">
              <ng-template ngFor let-comment [ngForOf]="inspectItems[key].comments | removeTriggerComment:key" let-isLast="last">
                <div class="flex pb1 pt1 pl1" [ngClass]="{'border-bottom': !isLast}">
                  {{ comment | getComment:key:'comments'}}
                </div>
              </ng-template>
              <div class="flex pb1 pt1 pl1 border-top" *ngFor="let additionalComment of inspectItems[key].additionalComments; last as isLast"
                [ngClass]="{'border-bottom': !isLast}">
                {{ additionalComment}}
              </div>
            </div>
          </div>
          <!-- recommendations -->
          <div class="flex flex-column flex-auto col-6">
            <span class="bold pb1 pt1 border-bottom pl1">{{key | rowHeaderName}} Recommendations:</span>
            <div class="flex flex-column">
              <div class="flex pb1 pt1 pl1" *ngFor="let recommendation of inspectItems[key].recommendations; last as isLastRec" [ngClass]="{'border-bottom': !isLastRec}">
                {{ recommendation | getComment:key:'recommendations'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>

<!-- partial and unlined flues  report -->
<div style="page-break-after:always;"></div>

<div *ngIf="!!partialOrUnlinedStoves.length" class="flex flex-column justify-center p2" style="font-size:.8em">

  <div class="flex justify-center">
    <div class="flex flex-column center bold">
      <span style="font-size:10px;">Important information for partial and unlined flues for</span>
      <span style="font-size:10px;">wood stove inserts</span>
    </div>
  </div>

  <div class="h3 mt2 bold">NFPA 211 code:</div>
  <div class="h3 mt2 bold">Connection to Masonry Fireplaces.</div>
  <div class="h3 mt2">
    <span class="bold">13.4.5.1 </span>A natural draft solid fuel-burning appliance such as a stove or insert shall be permitted to use
    a masonry fireplace flue where the following conditions are met:
  </div>

  <div class="mt2 mb2">(1) There is a connector that extends from the appliance to the flue liner.</div>
  <div>(2) Any exposed metal that is used as a connector and is exposed to flue gases is constructed of stainless steel or
    other equivalent material that resists corrosion, softening, or cracking from flue gases at temperatures up to 1800
    ̊F (982 ̊C)</div>
  <div class="mt2 mb2">(3) The cross-sectional area of the flue is no smaller than the cross-sectional area of the flue collar of the appliance,
    unless otherwise specified by the appliance manufacturer.</div>
  <div class="mt2 mb2">(4) The cross-sectional area of the flue of a chimney with no walls exposed to the outside below roofline is no more
    than three times the cross-sectional area of the appliance flue collar</div>
  <div class="mt2 mb2">(5) The cross-sectional area of the flue of a chimney with one or more walls exposed to the outside below roofline
    is no more than two times the cross-sectional area of the appliance flue collar.</div>
  <div class="mt2 mb2">(6) If the appliance vents directly through the chimney wall above the smoke chamber, there is a noncombustible seal
    below the entry point of the connector</div>
  <div class="mt2 mb2">(7) The installation is such that the chimney system can be inspected and cleaned</div>
  <div class="mt2 mb2">(8) Means are provided to prevent dilution of combustion products in the chimney flue with air from the habitable space.</div>

  <div class="mt2 mb2">Our recommendation is to have your appliance lined to the top with a stainless steel liner. For liability reasons we
    will not service these appliances and due to the creosote build up, we are not able to properly service the units.</div>

  <div class="flex header bold border mt2">
    <span class="bold h3 pb1 pl1 pt1">The appliance(s) listed below have either a partial or unlined flue:</span>
  </div>

  <!-- body -->
  <div class="border flex-column flex flex-auto row">
    <div class="flex flex-column flex-auto" *ngFor="let partialOrUnlinedStove of partialOrUnlinedStoves">
      <div class="flex flex-auto">
        <div class="flex flex-column flex-auto">
          <span class="pb1 pt1 pl1 border-bottom">{{partialOrUnlinedStove}}</span>
        </div>
      </div>
    </div>
  </div>

</div>